<% layout('/layouts/boilerplate2') -%>
<body>
 
  <h3>influencers</h3>
  <!-- <form method="GET" action="/listings/new">
      <button>New Listing Create</button>
    </form> -->
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(listing of allListing2){%>
  
    <a href="/listing2/<%=listing._id%>" class="listing-link">
      <div class="card listing-card">
        <img
          src="<%=listing.image%>"
          class="card-img-top"
          style="height: 20rem"
          alt="listing img"
        />  <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%=listing.influencerName%></b> <br />
            <b>followers:<%=listing.followers%></b><br>
            &#8377;<%=listing.price.toLocaleString("en-IN")%>/advertisements
          </p>
        </div>
      </div>
      </a>
    <%}%>
  </div>
</body>
